body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* header with svg logo */
header {
  width: 100%;
  height: 60%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  color: seagreen;
  padding: 5px;
}

#svglogo {
  width: 10%;
  height: 10%;
  margin-top: 10px;
}

#svglogo img {
  width: 100%;
  height: 100%;
}


form {
  margin: auto;
  width: 100%;
}

fieldset {
  padding: 10px;
  background: white;
  color: seagreen;
  min-width: 50px;
  text-align: center;
  border: 2px solid seagreen;
}

legend {
  color: darkgreen;
  text-shadow: 2px 2px 4px white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: seagreen;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid seagreen;
}

input:required+label::after,
select:required+label::after {
  content: "*";
  color: red;
}

select:invalid+.error-msg {
  display: block;
}

select:valid+.error-msg {
  display: none;
}

.error-msg {
  color: red;
}

input:valid+.error-msg {
  display: none;
}

input:invalid+.error-msg {
  display: block;
}

input:not(:focus):not(::placeholder-shown):invalid {
  border-color: red;
}

input:not(:focus):not(::placeholder-shown):invalid+.error-msg {
  display: block;
}

input:not(:focus):placeholder-shown:invalid+.error-msg {
  display: none;
}


/* Set a style for the submit button */
.btn {
  background-color: seagreen;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* help video hover */
.helpVideo {
  display: none;
}

.helpHover:hover+.helpVideo {
  display: block;
}



/* media query to hide legend keeps labels for usability*/
@media only screen and (max-width: 600px) {
  body {
    display: grid;
    background-color: lightgreen;
  }

  header {
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    color: seagreen;
  }

  #svglogo {
    width: 200px;
    height: 300px;
    margin-top: -60px;
  }

  #svglogo img {
    width: 200px;
    height: 400px;
  }

  legend {
    display: none;
  }

  #myphonenum {
    display: none;
  }
  
  section {
    width: 100%;
    padding: 2px;
  }

  .hidden {
    visibility: hidden;
    margin-top: -90px;
  }
}